<!-- + -->
<div class="addArt">
  <div>
    <a title="Add artwork here!" class="" href="/artwork/new"
      ><img
        class="addArtImg"
        src="/images/addArt2.svg"
        alt="Icon for adding new artwork"
    /></a>
  </div>
</div>
