<footer class="footer pt-3 pb-3 text-center">
  <a href="https://github.com/Frankovg" target="_blank">
    <img src="/images/icon-github.svg" alt="Github icon" />
  </a>
  <a href="">
    <img src="/images/icon-important_mail.svg" alt="Email icon" />
  </a>
  <a href="">
    <img src="/images/icon-instagram.svg" alt="Instagram icon" />
  </a>
  <a href="">
    <img src="/images/icon-twitter_squared.svg" alt="Twitter icon" />
  </a>
  <p class="mb-1">Designed and developed by Franco Amoroso</p>
  <p class="mb-1">Copyright 2022 - All rights reserved - Socratech</p>
</footer>
