<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>digiArt - Login</title>
    <%- include('bootstrap') %>
  </head>
  <body>
    <%- include("navbar") %>
    <br />
    <!-- LOGIN DE ARTISTA -->
    <div class="container-fluid">
      <form class="row g-3" action="/artist/login" method="post">
        <div class="col-md-6">
          <label for="inputEmail" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            id="inputEmail"
            name="email"
            placeholder="artson@artson.com"
            autocomplete="on"
          />
        </div>

        <div class="col-md-6">
          <label for="inputPassword" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="inputPassword"
            name="password"
            placeholder="••••••"
          />
        </div>

        <div class="col-12">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>

        <div class="col-12">
          <a href="/"
            ><button type="button" class="btn btn-primary">Cancel</button></a
          >
        </div>
      </form>

      <p><%= message %></p>
    </div>
  </body>
</html>
