<!-- mobile menu -->
<button
  class="navbar-toggler up"
  type="button"
  data-bs-toggle="collapse"
  data-bs-target="#navbarNavAltMarkup"
  aria-controls="navbarNavAltMarkup"
  aria-expanded="false"
  aria-label="Toggle navigation"
>
  <img class="menuIcon" src="/images/menu_icon.svg" alt="Menu icon" />
</button>
