<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">digiArt</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/artwork/new"
          >Add artwork</a
        >
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/artist/join">Join</a>
        <p>or</p>
        <a class="nav-link" href="/artist/login">Login</a>
      </div>
    </div>
  </div>
</nav>
