<nav class="navbar navbar-expand-md navbar-light">
  <%- include("addArtIcon") %>

  <div class="wrapper_nav container-fluid">
    <%- include("logoIcon") %>
    <br />
    <%- include("menuIcon") %>

    <!-- links mobile-->
    <div
      class="collapse navbar-collapse text-end pe-5 pt-3"
      id="navbarNavAltMarkup"
    >
      <div class="d-md-none navbar-nav">
        <a class="nav-link fs-4" href="/artist/join">Join</a>
        <a class="nav-link fs-4" href="/artist/login">Login</a>
      </div>
    </div>

    <!-- links -->
    <div
      class="d-none d-md-block d-flex justify-content-end"
      id="navbarNavAltMarkup"
    >
      <div class="navbar-nav gap-2">
        <a title="Go Home" class="nav-link" href="/"
          ><img class="homeIcon" src="/images/home_icon.svg" alt="Home icon"
        /></a>
        <a class="nav-link" href="/artist/join">Join</a>
        <p class="or">or</p>
        <a class="nav-link" href="/artist/login">Login</a>
      </div>
    </div>
  </div>
</nav>
