<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WRONG PASSWORD</title>
    <%- include('bootstrap') %>
  </head>
  <body>
    <%- include("navbar") %>
    <div class="wrapper">
      <div class="space text-center pt-4">
        <div class="window py-4">
          <h1>Incorrect password</h1>
          <p>Or maybe the new password doesn't match.</p>
          <a href="/artist/change_password/<%= result[0].artist_id %>"
            ><button class="pure-button fuller-button green" type="button">
              Back
            </button></a
          >
          <a href="/"
            ><button
              class="pure-button fuller-button orange ms-2"
              type="button"
            >
              Home
            </button></a
          >
        </div>
      </div>
    </div>

    <%- include("footer") %>
  </body>
</html>
