.main {
  height: 90vh;
  @include toScroll;
  @include mobile {
    height: 75vh;
  }
  a {
    text-decoration: none;
  }
  .card {
    background-color: $color_black;
    outline: 1px solid white;
    border: 3px solid transparent;
    transition: all 0.2s ease-in-out;
    width: 20rem;
    .name {
      color: $color_orangedigi !important;
    }
    img {
      height: 20rem;
      object-fit: cover;
      object-position: center;
    }
  }
  .card:hover {
    transform: scale(1.01);
    outline: 0px solid transparent;
    border: 3px solid $color_greendigi;
    transition: all 0.2s ease-in-out;
    h5 {
      color: $color_greendigi !important;
    }
    img {
      filter: saturate(2);
    }
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.main::-webkit-scrollbar {
  display: none;
}

.homeTitle {
  position: absolute;
}
