.wrapper {
  // border: 1px solid red;
  max-inline-size: $max_inline_size_1300;
  @include wrapper_principal;
  @include mobile {
    padding-inline: 1rem;
  }
}

.wrapper_nav {
  max-inline-size: $max_inline_size_1300;
}

.wrapperTitle {
  max-inline-size: $max_inline_size_1300;
  padding-inline: 3rem;
  margin: auto;
  @include mobile {
    padding-inline: 1rem;
  }
}

.wrapperTitleForm {
  max-inline-size: 640px !important;
  padding-inline: 3rem;
  margin: auto;
  @include mobile {
    padding-inline: 1rem;
  }
}

.wrapperArtistHeader {
  // border: 1px solid red;
  max-inline-size: $max_inline_size_1300;
  margin: auto;
}

.wrapperArtistMain {
  max-inline-size: $max_inline_size_1300;
  @include wrapper_principal;
  @include mobile {
    padding-inline: 1rem;
  }
}

.wrapperForm {
  max-inline-size: 540px !important;
  @include wrapper_principal;
  @include mobile {
    padding-inline: 1rem;
  }
}

.space {
  height: 65vh;
}
