//VARIABLES
$font_family: "Nunito", sans-serif;
$color_black: rgb(7, 8, 12);
$color_darkgrey: rgb(21, 25, 30);
$color_greendigi: rgb(28, 166, 67);
$color_orangedigi: rgb(226, 140, 17);
$color-lightgrey: rgb(134, 134, 134);
$max_inline_size_1300: 1300px !important;

//MIXIN
@mixin toScroll {
  border: 0.5px solid $color-lightgrey;
  background-color: $color_black;
  width: 100% !important;
  overflow: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
@mixin wrapper_principal {
  padding-inline: 3rem; /*debe mantener esa distancia siempre*/
  padding-top: 4rem;
  padding-bottom: 3.2rem;
  margin: auto;
}

//MIXIN RESPONSIVE
@mixin mobile {
  @media only screen and (max-width: 575px) {
    @content;
  }
}
@mixin navbar {
  @media only screen and (max-width: 768px) {
    @content;
  }
}
@mixin tablet {
  @media only screen and (min-width: 576px) and (max-width: 1200px) {
    @content;
  }
}
@mixin desktop {
  @media only screen and (max-width: 992px) {
    @content;
  }
}
@mixin large_screen {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}

//LINKS
@import "navbar";
@import "footer";
@import "main";
@import "wrapper";
@import "mainArtist";
@import "buttons";
@import "join";
@import "wrong";
@import "mailForm";

//GENERAL
body {
  font-family: $font_family !important;
  color: white !important;
  min-block-size: 100vh !important;
  margin: 0px !important;
  background-color: $color_darkgrey !important;
  form {
    padding-top: 2rem;
  }
}
